<app-navbar-general></app-navbar-general>
<br/>
<br/>
<form id="htmlData" class="card">
  <div class="container">
    <br>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Localizacion :</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <br>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Capa embrionaria del órgano afectado :</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <br>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Funcionabilidad biológica interna :</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <br>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">De la enfermedad :</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <br>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Datos Médicos precisos :</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <br>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Números :</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <br>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Estructura de cada sintoma :</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <br>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Constelaciones existentes respecto a la enfermedad :</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <br>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Hippotesis de la enfermedad :</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <br>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Si hay o no nociones de cronicidad :</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <br>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Forma intermitente de la aparición de la enfermedad o sintoma :</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <br>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Que lo alivia y que lo agrava :</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <br>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Escala de dolor en el momento presente de la consulta :</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        <br>
      </div>
  </div>
</form>
<div class="container">
  <button class="btn col col-lg-4 btn-danger btn-block ml-4" (click)="openPDF()">Descarga PDF</button>
</div>
<br>
