<app-navbar-general></app-navbar-general>
<br/>
<br/>
<form id="htmlData" class="card">
  <div class="container">
    <br>
    <h1>Macro Hipótesis</h1>
    <br>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Sistema :</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <br>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Órgano :</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <br>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Capa embrionaria :</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <br>
  </div>
</form>
<div class="container">
  <button class="btn col col-lg-4 btn-danger btn-block ml-4" (click)="openPDF()">Descarga PDF</button>
</div>
<br>
