<div class="container__box">
  <div class="card" style="width: 18rem;">
    <img src="assets/cerebro.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Bio Análisis</h5>
      <p class="card-text">Analisis de la vida del consultante, llenar en esta casilla</p>
      <a href="bio-analisis" class="btn btn-primary">Realizar diagnóstico</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="assets/hipotesis.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Hipótesis</h5>
      <p class="card-text">En esta casilla podras llenar con una hipotesis propuesta a lo expuesto en el nalisis anterior</p>
      <a href="hipotesis" class="btn btn-primary">Realizar diagnóstico</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="assets/BIO.jpeg" class="card-img-top" alt="...">
    <div class="card-body" style="align-items: flex-end;">
      <h5 class="card-title">Bio Modelacion</h5>
      <p class="card-text">En este espacio puedes llenar el resultado de la modelacion de la terapia </p>
      <a href="bio-modelacion" class="btn btn-primary">Realizar diagnóstico</a>
    </div>
  </div>
</div>
